<!--
  TODO: Update the EJS code to insert the following information:
    - display_title
    - url
    - suggested_link_text
    - publication_date
    - summary_short

  HINT: Not sure how to display the reviews, check out Bootstrap cards here: https://getbootstrap.com/docs/4.0/components/card/

  You should only need to use one of the options below, you should delete the 
  other.
-->

<% if (items) { %>

  <!-- OPTION 1: Iterate the items object & update the cards variable. -->
  <% var cards = ''; %>
  
  <%- cards %> 

  <!-- OPTION 2: Iterate over items and output html within the loop  -->
  <% items.forEach( item => { %>

    <div> <%= item %> </div> 

  <% }); %>

<% } %> <!-- if -->
